<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.company.app">

    <application>
        <activity android:name="my.company.app.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
